<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
    <connectionStrings>
    <add name="CustomerContext" connectionString="Database=HS.SALES;User ID=xxx;Password=xxx;Server=localhost;Pooling=false;ServerType=universe;ConnectTimeout=360;PersistSecurityInfo=true" providerName="U2.Data.Client.4.5"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    <provider invariantName="U2.Data.Client.4.5" type="U2.Data.Client.Entity.U2ProviderServices, U2.Data.Client.Entity, Version=2.2.2.0, Culture=neutral, PublicKeyToken=883335d992998a08"/>
    </providers>
  </entityFramework>
</configuration>